.table {
    margin-top: 5px;
    text-align: center;
}

.menu {
    margin-top: 5px;
    text-align: center;
}

.table_search {
    margin-left: 5px;
    margin-top: 8px;
    width: 250px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px gray;
    padding: 5px 20px 5px;
}

.menu_search {
    margin-left: 5px;
    margin-top: 15px;
    width: 550px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px gray;
    padding: 5px 20px 5px;
}

input {
    font-size: 1rem;
}

.Tcard {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: .50rem;
    margin-top: 40px;
    background-color: white;
    padding: 10px 10px 10px;
}

.TcardChange {
    background-color: orange;
}

.card {
    margin-top: 40px;
    background-color: white;
}

.card > .header {
    padding-left: .50rem;
}

.card > .body {
    font-size: .8rem;
    padding-left: .50rem;
    margin-bottom: .25rem;
}

.hide {
    display: none;
}

/* Bill popup */
.popup {
    width: 500px;
    max-width: 80%;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #fff;
    border: 2px solid #000;
    z-index: 1;
    /* popup should have scroll if items are more */
    /* overflow-y: scroll; */
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    background-color: #233799;
    color: #fff;
}

.close-button {
    color: #fff;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-body {
    padding: 10px 15px;
    height: 200px;
    overflow-y: scroll;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none; 
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* table css */
table {
    text-align: center;
}

table td {
    text-align: left;
}

table, td, th {
    padding: 6px;
}

.popup-footer {
    display: flex;
    border-top: 1px solid #000;
    padding: 10px 15px;
    gap: 5rem;
}